div.sort_container {
  float: right;
}


div.fte-table-container {
	margin: 30px auto;

  .fte-table {
    thead tr th, tbody tr td {
      text-align: center;
      vertical-align: middle;
      line-height: 20px;
    }

  }
}

.hover { background-color: #eee; }
.highlighted { 
	background-color: #FFFCBB;
	color: red;
	font-weight: bold;
  font-size: 18px;
}

div.info-block-wrapper {
  ul.info-block {
    display: inline-block;
    min-width: 900px;
    width: 88%;
    background-color: #e0f1ff;
    border-radius: 10px;
    border: 2px #cccccc solid;
    height: 80px;
    line-height: 80px;

    li {
      padding-left: 0px;
      padding-right: 0px;
      border-right: 2px rgb(204, 204, 204) solid;
      height: 100%;
      width: 15%;
      text-align: center;
      line-height: 60px;

      p {
        line-height: 16px;
        margin-top: 16px;
        font-size: 20px;

        &:first-child {
          font-weight: bold;
        }

        &.category {
          margin-top: 14px;
        }
      }
    }

    li:first-child {
      margin-left: 58px;
      border-left: 2px rgb(204, 204, 204) solid;
    }
  }

  a.report-generate {
    display: inline-block;
    line-height: 2;
    float: right;
    padding: 18px 46px;
    font-size: 20px;

    span {
      padding-left: 18px;
    }
  }
}

