div.fte-table-container {
	margin: 30px auto;

  .fte-table {
    thead tr th, tbody tr td {
      text-align: center;
      vertical-align: middle;
    }

  }
}

.hover { background-color: #eee; }
.higlighted { 
	background-color: #FFFCBB;
	color: red;
	font-weight: bold;
}

