// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';


// ==========================================================
body {	
	// background-color: #DBDBDB;
	// font-family: 'Helvetica', sans-serif;
	padding: 10px 20px;

	.btn-group-justified {
		display: table;
		width: 100%;
		border-collapse: separate;
		table-layout: fixed;
	}

	.form-links a {
		display: table-cell;
	}

	.form-inner {
		width: 600px;
		margin: 0 auto;

		form {
			// font-size: 24px;

			label {
				font-weight: 200;
				font-size: 18px;
			}

			.title-wrapper, .students-teachers-wrapper {
				border-radius: 5px;
			}

			.students-teachers-wrapper {
				clear: both;
				overflow: hidden;
			}

			.students-wrapper, .teachers-wrapper {
				width: 50%;
				float: left;

				input {
					width: 92%;
				}
			}

			.salary-wrapper {
				width: 50%;
				float: right;

				input {
					width: 92%;
				}
			}

			.title-wrapper, .firstname-wrapper {
				margin-bottom: 5px;

				input {
					width: 96%;
				}
			}

			input[type="text"] {
				// height: 20px;
				// font-size: 18px;
			}

		}
	}
}

