// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ==========================================================
body {	
	padding: 10px 20px;

	//======= main page =========

	.add-school-btn {
		width: 33%;
		margin-top: 20px;
		min-width: 250px;
	}

	.school-list-jumbo {
		padding-top: 10px;
		padding-bottom: 10px;
		margin-top: 30px;

		h2 {
			text-align: center;
			margin-top: 10px;
		}
	}

	div#table_container {
		table {
			thead {
				cursor: pointer;
			}

			td {
				vertical-align: middle;
			}
		}
	}

	a.enrollment_table {
		width: 33%;
		padding: 8px 2px;
		font-size: 18px;
	}

	h1 a.link_to_main, h1 a.link_to_main:hover {
		text-decoration: none;
	}

	div.link_wrapper {
		margin: 20px 0;
	}

	.btn-group-justified {
		display: table;
		width: 100%;
		border-collapse: separate;
		table-layout: fixed;
		margin: 30px 0;
	}

	.form-links.btn-group {
		a {
			display: table-cell;
			font-size: 18px;
			line-height: 28px;
		}
	}

// ============ form ======

	.glyphicon {
		margin-right: 5px;
	}

	.form-inner {
		width: 600px;
		margin: 0 auto;

		form {

			label {
				font-weight: 200;
				font-size: 18px;
			}

			.title-wrapper,
			.students-wrapper,
			.teachers-wrapper,
			.salary-wrapper {
				border-radius: 5px;
				width: 100%;
				float: left;
			}

			.students-wrapper .input-group-btn .select-style,
			.teachers-wrapper .input-group-btn .select-style {
				
		    border: 1px solid #ccc;
		    border-top-right-radius: 4px;
				border-bottom-right-radius: 4px;
		    width: 60px;
		    overflow: hidden;
		    background: #fafafa;
				margin-left: -1px;
						
				span {
					display: inline-block;
					right: 30px;
				}

				select {
					background: url(https://dl.dropboxusercontent.com/u/41281489/Work/optimizer-tool/glyphicons_224_chevron-down_13x9.png) 33px 11px no-repeat;
					// background-size: 14px;
					display: inline-block;
			    padding: 6px 8px;
			    width: 100%;
			    border: none;
			    box-shadow: none;
			    // background: transparent;
			    -webkit-appearance: none;
				}

				select:focus {
			    outline: none;
				}
			}

			.students-wrapper .form-group .input-group .form-control,
			.teachers-wrapper .form-group .input-group .form-control {				
				border-top-left-radius: 4px;
				border-bottom-left-radius: 4px;
			}

			.input-hider {
				display: none;
			}

			.teachers-wrapper {
				ul.dropdown-menu {

					li {
						padding: 1px 10px;

						&:hover, &:active {
							cursor: pointer;
							background-color: whitesmoke;
						}
					}
				}
			}

			.teachers-wrapper input,
			.salary-wrapper input {
				float: right;
			}

			.teachers-wrapper select {
				display: none;
			}

			.title-students-wrapper,
			.teachers-salary-wrapper {
				width: 48%;
				float: left;
			}

			.title-students-wrapper {
				margin-right: 4%;
			}

			.title-students-wrapper, .firstname-wrapper {
				margin-bottom: 5px;
			}

			button.add-school {
				width: 100%;
			}
		}

	}

// Report page

	table.report-table {
		text-align: center;

		td.bold {
			font-weight: bold; 
		}
	}

}

